/* Media query for mobile viewport */
/* @media screen and (max-width: 400px) {
  #paypal-button-container {
    width: 100%;
  }
} */

/* Media query for desktop viewport */
/* @media screen and (min-width: 400px) {
  #paypal-button-container {
    width: 250px;
  }
} */



.card {
  -webkit-box-shadow: -1px 5px 23px -1px rgba(189, 179, 189, 1);
  -moz-box-shadow: -1px 5px 23px -1px rgba(189, 179, 189, 1);
  box-shadow: -1px 5px 23px -1px rgba(189, 179, 189, 1);
}

.margen {
  margin-top: 40px;
}

.sombra {
  -webkit-box-shadow: -2px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.sombra-tabla {
  -webkit-box-shadow: -4px 0px 12px 1px rgba(136, 186, 168, 1);
  -moz-box-shadow: -4px 0px 12px 1px rgba(136, 186, 168, 1);
  box-shadow: -4px 0px 12px 1px rgba(136, 186, 168, 1);
}

